body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: rgb(21, 178, 250);
}

.kategoriAktiv{
  background-color: rgb(21, 178, 250);
  color: white;
}

.btn-primary{
  background-color: rgb(21, 178, 250);
}
